html *,
html *:before,
html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}
html i,
html em,
html b,
html strong,
html span {
    transition: none;
}

*:before,
*:after {
    z-index: -1;
}

h1,
h4 {
    font-family: "Raleway", "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    line-height: 80px;
    color: black;
}

[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    z-index: 1;
}

[class^="btn2-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    z-index: 1;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btn2-0 {
    color: #2bceb3;
}

.btn2-0:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #047663;
    transform: translateX(-100%);
}
.btn2-0:hover {
    color: #c1f1e9;
}
.btn2-0:hover:before {
    transform: translateX(0);
}

.btn-0 {
    color: #2bceb3;
}

.btn-0:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #047663;
    transform: translateX(-100%);
}
.btn-0:hover {
    color: #c1f1e9;
}
.btn-0:hover:before {
    transform: translateX(0);
}

.btn-0-0 {
    color: #2bceb3;
}
.btn-0-0:before {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #047663;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 3s cubic-bezier(0, 1.15, 1, 1.29);
}
.btn-0-0:hover {
    color: #c1f1e9;
}
.btn-0-0:hover:before {
    transform: translateY(0);
    opacity: 0.5;
}

.btn-1 {
    color: #48a1c1;
}
.btn-1:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #18566d;
    transform: translateX(-100%);
}
.btn-1:hover {
    color: #c9e3ed;
}
.btn-1:hover:before {
    transform: translateX(0);
}

.btn-1-2 {
    color: #4da28a;
}
.btn-1-2:before,
.btn-1-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 80px solid #1c5746;
}
.btn-1-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}
.btn-1-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    transform: translateX(100%);
}
.btn-1-2:hover {
    color: #cbe4dd;
}
.btn-1-2:hover:before {
    transform: translateX(-40%);
}
.btn-1-2:hover:after {
    transform: translateX(40%);
}

.btn-2 {
    color: #9ebd65;
}
.btn-2:before,
.btn-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #556a2c;
    transform: translateX(-100%);
}
.btn-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid #556a2c;
    transform: translateX(100%);
}
.btn-2:hover {
    color: #e3ecd2;
}
.btn-2:hover:before {
    transform: translateX(-49%);
}
.btn-2:hover:after {
    transform: translateX(49%);
}

.btn-3 {
    border-color: #48a1c1;
    color: #48a1c1;
    color: rgb(57, 102, 128);
}

.btn-3:before,
.btn-3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 40px solid #48a1c1;
    border-bottom: 40px solid #48a1c1;
}
.btn-3:before {
    border-right: 40px solid transparent;
    transform: translateX(-100%);
}
.btn-3:after {
    border-left: 40px solid transparent;
    transform: translateX(100%);
}
.btn-3:hover {
    color: #18566d;
}
.btn-3:hover:before {
    transform: translateX(-30%);
}
.btn-3:hover:after {
    transform: translateX(30%);
}

.btn-4 {
    color: #cca5a0;
}
.btn-4:before,
.btn-4:after,
.btn-4 span:before,
.btn-4 span:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #755956;
}
.btn-4:before {
    transform: translate(-1000%, -1000%);
}
.btn-4:after {
    transform: translate(-1000%, 1000%);
}
.btn-4 span:before {
    transform: translate(1000%, -1000%);
}
.btn-4 span:after {
    transform: translate(1000%, 1000%);
}
.btn-4:hover {
    color: #f0e5e3;
}
.btn-4:hover:before {
    transform: translate(-50%, -50%);
}
.btn-4:hover:after {
    transform: translate(-50%, 50%);
}
.btn-4:hover span:before {
    transform: translate(50%, -50%);
}
.btn-4:hover span:after {
    transform: translate(50%, 50%);
}

.btn-5 {
    color: #42c439;
}
.btn-5:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent #146f0d transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-5:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent #146f0d;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn-5:before,
.btn-5:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid;
    transform: rotate(360deg);
}
.btn-5:before {
    bottom: 0;
    left: 0;
    border-color: transparent transparent transparent #146f0d;
}
.btn-5:after {
    top: 0;
    right: 0;
    border-color: transparent #146f0d transparent transparent;
}
.btn-5:hover {
    color: #c8eec5;
}
.btn-5:hover:before,
.btn-5:hover:after {
    border-width: 80px 262.5px;
}

.btn-6 {
    color: #52cd5a;
}
.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #1f7625;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.btn-6:hover {
    color: #ccf0cf;
}
.btn-6:hover span {
    width: 225%;
    height: 562.5px;
}
.btn-6:active {
    background-color: #34c43d;
}

.btn-7 {
    color: #85a22a;
}
.btn-7:before,
.btn-7:after,
.btn-7 span:before,
.btn-7 span:after {
    content: "";
    position: absolute;
    top: 0;
    width: 25.25%;
    height: 0;
    background-color: #435702;
}
.btn-7:before {
    left: 0;
}
.btn-7:after {
    left: 50%;
}
.btn-7 span:before,
.btn-7 span:after {
    top: auto;
    bottom: 0;
}
.btn-7 span:before {
    left: 25%;
}
.btn-7 span:after {
    left: 75%;
}
.btn-7:hover {
    color: #dbe4c0;
}
.btn-7:hover:before,
.btn-7:hover:after,
.btn-7:hover span:before,
.btn-7:hover span:after {
    height: 80px;
}

.btn-8 {
    color: #5aba52;
}
.btn-8:before,
.btn-8:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #25681f;
}
.btn-8:before {
    transform: translateY(-100%);
}
.btn-8:after {
    transform: translateY(100%);
}
.btn-8:hover {
    color: #cfebcc;
}
.btn-8:hover:before {
    transform: translateY(-50%);
}
.btn-8:hover:after {
    transform: translateY(50%);
}

.btn-9 {
    color: #793a3f;
}
.btn-9:before,
.btn-9:after,
.btn-9 span:before,
.btn-9 span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(58, 14, 17, 0.25);
    transition: 0.4s ease-in-out;
}
.btn-9:after,
.btn-9 span:before {
    top: auto;
    bottom: 0;
}
.btn-9 span:before,
.btn-9 span:after {
    transition-delay: 0.4s;
}
.btn-9:hover {
    color: #d8c5c7;
}
.btn-9:hover:before,
.btn-9:hover:after,
.btn-9:hover span:before,
.btn-9:hover span:after {
    height: 80px;
}
.btn-9:active {
    background-color: #61171d;
}

.btn-10 {
    color: #c25e5f;
}
.btn-10:before,
.btn-10:after,
.btn-10 span:before,
.btn-10 span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 80px;
    background-color: rgba(110, 39, 40, 0.25);
    transition: 0.4s;
}
.btn-10:after,
.btn-10 span:before {
    left: auto;
    right: 0;
}
.btn-10 span:before,
.btn-10 span:after {
    transition-delay: 0.4s;
}
.btn-10:hover {
    color: #edd0d0;
}
.btn-10:hover:before,
.btn-10:hover:after,
.btn-10:hover span:before,
.btn-10:hover span:after {
    width: 250px;
}
.btn-10:active {
    background-color: #b74143;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
.btn-11 {
    position: relative;
    color: #d411bd;
}
.btn-11:before,
.btn-11:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #600551;
    border-radius: 50%;
}
.btn-11:before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.btn-11:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.btn-11:hover {
    color: #d4c1d9;
}
.btn-11:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.btn-11:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
