html *,
html *:before,
html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}
html i,
html em,
html b,
html strong,
html span {
    transition: none;
}

*:before,
*:after {
    z-index: -1;
}

h1,
h4 {
    font-family: "Raleway", "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
}

a {
    text-decoration: none;
}

.levels__menu {
    padding-top: 40px;
    padding-bottom: 80px;
}

.levels__menu-inner {
    margin: auto;
}

.levels__menu-title {
    font-family: "Roboto", serif;
}

.menu_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 80px;
    gap: 15px;
}

.menu__title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__title-container,
.menu__titile-wrapper {
    width: 100%;
    height: 200px;
}

#menu__text-behind,
#menu__text-front,
#menu__text-behind-blur {
    font-family: "Roboto", sans-serif;
    text-align: center;
    position: absolute;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: 0.8;
}

#menu__text-behind {
    color: var(--headline-color);
    z-index: 0;
}

#menu__text-behind-blur {
    color: var(--headline-color);
    filter: blur(7.5px);
    z-index: 0;
}

.menu__index-link {
    color: var(--headline-color);
}

.levelBtn {
    text-align: center;
    margin: auto;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.menu__levels-title {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.menu_levels {
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media (max-width: 1206px) {
    .menu_grid {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1038px) {
    .levelBtn {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .menu_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .levelBtn {
        margin: auto;
        min-width: 92%;
    }
}

@media (max-width: 666px) {
    .menu_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .levelBtn {
        min-width: 98%;
    }
}

@media (max-width: 422px) {
    .menu_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .levelBtn {
        min-width: 98%;
    }
}
