.mainDiv {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mainDiv__inner {
    margin: auto;
    max-width: 1200px;
}

#wrapper {
    display: none;
}

dialog {
    opacity: 0.85;
    border-color: aquamarine;
    max-width: 400px;
}

.cmdList-wrapper {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 190px;
}

#cmdList {
    width: 98%;
    margin: auto;
}

#gameField {
    position: relative;
    opacity: 1;
    width: 450px;
    display: inline-block;
    margin: 5px;
    height: 450px;
}

#gridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    text-align: center;
    background-color: #ddd;
}

.grid-item {
    background-color: rgba(255, 0, 0, 0);
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hh {
    transform: rotate(0deg);
    position: fixed;
    width: 45px;
    z-index: 1;
    transition: all 1s ease-in-out;
}

#apple {
    position: absolute;
    z-index: 0;
}

#stone {
    position: absolute;
    z-index: 2;
}

.grass {
    background-color: green;
    border-radius: 10px;
    margin: 1px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    height: 30px;
    width: 100px;
    border-color: #2980b9;
}

.dropdown a:hover {
    background-color: #2980b9;
}

.show {
    display: block;
}

.dropbtn {
    width: 100%;
    height: 100%;
    text-align: center;
    height: 40px;
}

.game_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game_grid-cmd {
    max-width: 300px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}

.codeList {
    margin-top: 15px;
    vertical-align: top;
    background-color: var(--codeList-bg-color);
    min-width: 160px;
    display: inline-block;
    min-height: 200px;
    max-height: 380px;
    overflow: auto;
    text-align: left;
}

#level {
    margin-top: 14px;
}

.menu_controls {
    margin-top: 8px;
    margin-bottom: 5px;
}

.ifOperator,
.repeat {
    background-color: var(--operator-repeat-bg-color);
    width: 240px;
    height: 30px;
}

.ifOperator:hover,
.repeat:hover {
    background-color: var(--operator-repeat-hover-bg-color);
}

.menu_cnt {
    width: 100px;
    height: 30px;
    position: relative;
    color: var(--menu-button-text-color);
    border: none;
}

.menu_cnt:hover {
    background-color: var(--menu-button-hover-bg-color);
    color: var(--menu-button-hover-text-color);
}

@media (max-width: 992px) {
    .game_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .codeList {
        margin-top: 0;
        width: 70%;
        margin: auto;
    }
}
