.mainDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}

.mainDiv__inner {
  margin: auto;
  max-width: 1200px;
}

#wrapper {
  display: none;
}

dialog {
  opacity: 0.85;
  border-color: aquamarine;
  max-width: 400px;
}

.cmdList-wrapper {
  display: flex;
  flex-direction: column;
  background-color: green;
  width: 190px;
}

#cmdList {
  width: 98%;
  margin: auto;
}

/* #codeList {
  vertical-align: top;
  background-color: blue;
  width: 160px;
  display: inline-block;
  margin: 5px;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
} */



#gameField {
  opacity: 1;
  width: 450px;
  display: inline-block;
  margin: 5px;
  height: 450px;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  text-align: center;
  background-color: #ddd;
}

.grid-item {
  background-color: rgba(255, 0, 0, 0);
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hh {
  transform: rotate(0deg);
  position: absolute;
  width: 45px;
  z-index: 1;
}

#apple {
  position: absolute;
  z-index: 0;
}

#stone {
  position: absolute;
  z-index: 2;
}

.grass {
  background-color: green;
  border-radius: 10px;
  margin: 1px;
}



/* dropdown button */

/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 40px;
  overflow: auto;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 100px;
  border-color: #2980B9;
}

.dropdown a:hover {
  background-color: #2980B9;
}

.show {
  display: block;
}

.dropbtn {
  width: 100%;
  height: 100%;
  text-align: center;
  height: 40px;
}

.game_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game_grid-cmd {
  max-width: 300px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.codeList {
  margin-top: 15px;
  vertical-align: top;
  background-color: #2980B9;
  min-width: 160px;
  display: inline-block;
  min-height: 200px;
  max-height: 380px;
  overflow: auto;
}

#level {
  margin-top: 14px;
}

.menu_controls {

  margin-top: 8px;
  margin-bottom: 5px;
}


