body{
    background: linear-gradient(#60a465, #9198e5);
    background-color: #ddd;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;   
}
#mainDiv{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;    
  text-align: center;
}
button{
  border-radius: 3px;

}
#wrapper{
  background-color: #ddd;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  text-align: left;
  width: 1000px;
  max-width: 1000px;    
  min-height: 480px;
  display: none;

}
#menu{
  text-align: center;
  /*max-width: 400px;*/
}
dialog{
  opacity: 0.85;
  border-color: aquamarine;
  max-width: 400px;
}

#cmdList{
    top:0;
    vertical-align: top;
    background-color:green;
    width: 150px;
    display:inline-block;
    margin:5px;
    border-radius: 8px;
}

#codeList{
    vertical-align: top;
    background-color:blue;
    width:160px;
    display:inline-block;
    margin:5px;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    border-radius: 8px;


}
button{
    vertical-align: top;

    margin:5px
}

#dashBoard{
    vertical-align: top;
    width:100px;
    text-align:center;
    display:inline-block;
    margin:10px;
}
#dashBoard>button{
  display: block;
}

#gameField{
    opacity: 1;

    width:450px;
    display:inline-block;
    margin:5px;
    height: 450px;
}

#gridContainer{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    text-align: center;    
    background-color: #ddd;
    opacity: 1;


}
.grid-item {
    background-color: rgba(255, 0, 0, 0);
    opacity: 1;
    /*border: 1px solid rgba(0, 0, 0, 1);*/
    height: 50px;
    font-size: 24px;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  
#hh{        
    transform: rotate(0deg);
    position: absolute;
    width:'45px';
    z-index: 1;


}
#apple{
  position: absolute;
  z-index: 0;
}

#stone{
  position: absolute;
  z-index: 2;
}

.grass{
    background-color: green;
    border-radius: 10px;
    margin: 1px;
    
}



/* dropdown button */

/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  .levelBtn{
    height: 28px;
    margin: 3px;
    border-radius: 8px;

  }
